[submodule ".config/tmux/tpm"]
	path = .config/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:ddtz32/neovim-lazyvim.git
[submodule ".config/catppuccin/alacritty"]
	path = .config/catppuccin/alacritty
	url = https://github.com/catppuccin/alacritty.git
